<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Contact officer:</b>
  <%= @club.contact_officer %>
</p>

<p>
  <b>Date created:</b>
  <%= @club.date_created %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
