<p id="notice"><%= notice %></p>

<p>
  <b>Club:</b>
  <%= @team.club %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Captain:</b>
  <%= @team.captain %>
</p>

<p>
  <b>Date created:</b>
  <%= @team.date_created %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
